/*  #282830 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Oxygen:300);

body{
  color: #d4d4d4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

h1.center{
  padding-top: 5%;
  font-size: 3.5em;
  text-align: center;
}

.justify{
  text-align: justify;
     text-justify: inter-word;
}

.center{
  text-align: center;
}

.header{
  background-color: #282830;
  width:  100%;
  height: 100%;
  padding: 10% 0 10% 0;

}

.title{
  font-size: 5em;
  text-align: center;
  font-weight: 300;
}

.subtitle{
  padding-top: 1%;
  text-align: center;
  font-weight: 300;
}

.about{
  font-family: 'Oxygen', sans-serif;
  background-color: #d4d4d4;
  color: #282830;
  width: 100%;
  height: 100%;
  padding: 5% 0 5% 0;
  font-weight: 300;
}

.about-item{
  text-align: center;
  padding-top: 0.5%;

}

hr{
  width: 10%;
  border:1px solid #1C2021;
}

.team{
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;
  box-shadow: -12px 12px  100px rgba(0,0,10,3);
  width: 100%;
  height: 100%;
  background-color: #282830;
  color: #d4d4d4;

}

.team-item{
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}

.product{
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #d4d4d4;
  color: #282830;
}

.product-item{
  padding-top: 5%;
  padding-bottom: 10%;


}

.img{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /*background-color:#282830;*/
  color:#282830;
  border-radius:2%;
}

.img-size-40{
    width: 40%;
}

.img-header{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  padding-left: 10px;
  padding-top: 5px;
}

.img-info{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  padding-left: 10px;
  padding-top: 5px;
}

a.button{

  text-align: center;
  text-decoration: none;
  -webkit-transition: border-color 1s;
  border: 1px solid #d4d4d4;
  border-radius: 23.5px;
  padding: 5px 10px;
  color: #282830;


}

a.button:hover{
  color: #282830;
  border: 1px solid #282830;
  border-radius: 23.5px;
  -webkit-transition: border-color 1s;


}

.contact{
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #282830;
  color: #d4d4d4;
  padding: 2em;

}

.contact-item{
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}

a.social{
  display: block;
  font-size: 1.2em;
  color: #d4d4d4;
}

a.social:hover{
  text-decoration: none;
  color: #d4d4d4;
}

a.social-right{
  text-align: right;
  display: inline-block;
  font-size: 1.2em;
  color: #d4d4d4;
}

a.social-right:hover{
  text-decoration: none;
  color: #d4d4d4;
}
